<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--css-->
    <link th:href="@{/css/boostrap.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <!--js-->
    <script th:src="@{/js/bootstrap.js}"></script>

</head>
<body>
<h1>To do</h1>
<h1>Thêm thành công</h1>
<a th:href="@{/listTodo}" class="btn btn-primary">Xem danh sách công việc</a>
</body>
</html>